# Python virtual environment
.venv/
.env

# Python
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
*.egg-info/

# Django
db.sqlite3
/media/
/staticfiles/

# Tools
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store
